@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Tourney&family=Roboto&display&display=swap');

/*---------------------------------Body and song theme changes */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: rgb(130, 192, 204);
    background: radial-gradient(circle, rgba(130, 192, 204, 1) 18%, rgba(72, 159, 181, 1) 48%, rgba(255, 166, 43, 1) 88%);
    /* min-height: 100vh; */

}

body.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(240, 230, 239, 1) 0%, rgba(184, 190, 221, 1) 14%, rgba(195, 162, 183, 1) 78%);
    background: radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
}

body.escape-theme {
    background: -o-radial-gradient(circle, rgba(22, 186, 197, 1) 21%, rgba(95, 191, 249, 1) 41%, rgba(154, 193, 39, 1) 96%);
    background: radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
}

body.paradisco-theme {
    background: rgb(51, 15, 10);
    background: radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 48%, rgba(244, 253, 175, 1) 88%);
}

body.contact-theme {
    background: rgb(237, 229, 166);
    background: radial-gradient(circle, rgba(237, 229, 166, 1) 2%, rgba(82, 183, 136, 1) 23%, rgba(89, 41, 65, 1) 55%, rgba(178, 211, 168, 1) 78%, rgba(73, 132, 103, 1) 100%);
}

h1,
h2,
h3,
.navbar {
    font-family: 'Tourney';
}

/*---------------------------------Navbar */

.navbar {}

.navbar .navbar-brand {
    text-align: center;
    /* padding-left: 30px; */
    color: #ffc5fd;
    text-shadow: 2px 2px 4px #000;
}

.navbar .navbar-nav {
    padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    margin-right: 10px;
}

/*--------------------------------- Game instructions */


.instructions-container {
    padding-top: 20px;
}

.game-instructions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    padding-top: 20px;
    margin-bottom: 16px;
}

.game-instructions.hidden {
    display: none;
}

.game-instructions h2 {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    text-decoration: underline;
    margin-bottom: 25px;
}

.game-instructions ol {
    color: #000;
    text-shadow: 2px 2px 4px #ffacfc;
    font-size: 1.25rem;
    list-style-type: none;
    padding-left: 0;
}

.game-instructions li {
    margin-bottom: 20px;
}

/*--------------------------------- song nav section */

.song-nav-container {
    text-align: center;

}

.dropdown {
    margin-bottom: 10px;

}

.dropdown .dropdown-menu {
    text-align: center;
}

.dropdown button {
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);

    color: #000;
    font-size: 1.5rem;
}

.dropdown button.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
}

.dropdown button.escape-theme {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
}

.dropdown button.paradisco-theme {
    background: rgb(101, 116, 58);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

.dropdown-menu.show {
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
}

.dropdown-menu.show.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
}

.dropdown-menu.show.escape-theme {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
}

.dropdown-menu.show.paradisco-theme {
    background: rgb(101, 116, 58);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

.dropdown-item {
    color: #000;
    text-shadow: 2px 2px 4px #ffacfc;
    font-size: 2rem;
    font-family: 'Tourney', sans-serif;
}

.dropdown-menu {
    left: -20px !important;
}


/*---------------------------------Pads section with different song themes */

.pads-container {
    height: 50vh;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.pad {
    position: relative;
    flex-basis: calc(33.333% - 10px);
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background: rgb(237, 231, 227);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
}

.pad::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.pad-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
}

.pad.escape-theme {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
}

.pad.paradisco-theme {
    background: rgb(101, 116, 58);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

#pads-container .pad-muted {
    background: grey;
}

/*---------------------------------Transport section */

.transport {
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid black 2px;
    background: #888888;
    padding: 10px;
    border-radius: 31px;

}

.transport {}

.transport button {
    border: none;
    background: none;
    height: 60px;
    width: 60px;
    position: relative;

}

.transport button i {

    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.transport span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

#playBtn {
    color: #30d430;
    margin-right: 40px;
}

#playBtn:hover {
    color: rgb(0, 255, 0);
}

#stopBtn {
    color: #4d4d80;
    margin-right: 40px;
}

#stopBtn:hover {
    color: rgb(0, 0, 255);
}

#clearMutes {
    border: 1px solid black;
    border-radius: 15px;
    background: lightgrey;
}


.footer {
    border: black solid 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e2e2e2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 3px rgba(12, 28, 49, 1);
    height: 85px;
}

button:focus {
    outline: none;
}

/*---------------------------------Utility classes */

.font-pink {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}