/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*---------------------------------Import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Tourney:wght@300;400;500;600;700&family=Roboto&display&display=swap');

/*---------------------------------Body and song theme changes */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

body.landing-theme {
    background: rgb(130, 192, 204);
    background: -o-radial-gradient(circle, rgba(130, 192, 204, 1) 18%, rgba(72, 159, 181, 1) 48%, rgba(255, 166, 43, 1) 88%);
    background: radial-gradient(circle, rgba(130, 192, 204, 1) 18%, rgba(72, 159, 181, 1) 48%, rgba(255, 166, 43, 1) 88%);
}

body.contact-theme {
    background: rgb(237, 229, 166);
    background: -o-radial-gradient(circle, rgba(237, 229, 166, 1) 2%, rgba(82, 183, 136, 1) 23%, rgba(89, 41, 65, 1) 55%, rgba(178, 211, 168, 1) 78%, rgba(73, 132, 103, 1) 100%);
    background: radial-gradient(circle, rgba(237, 229, 166, 1) 2%, rgba(82, 183, 136, 1) 23%, rgba(89, 41, 65, 1) 55%, rgba(178, 211, 168, 1) 78%, rgba(73, 132, 103, 1) 100%);
}

h1,
h2,
h3,
.pad,
.navbar {
    font-family: 'Tourney';
}

/*---------------------------------Navbar */

.navbar .navbar-brand {
    text-align: center;
    color: #ffc5fd;
    text-shadow: 2px 2px 4px #000;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
}

.navbar .navbar-brand:hover {
    color: #000;
    text-shadow: 2px 2px 4px #ffacfc;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.navbar {
    text-align: center;
}

#navbarNav {
    padding-right: 15px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .8);
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px #000;
    box-shadow: 0px 0px 14px #000;
}


#navbarNav .nav-link {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    margin-right: 10px;
}

#navbarNav .nav-link:hover {
    color: #000;
    text-shadow: 2px 2px 4px #ffacfc;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

/*--------------------------------- Spacer div */

#spacer {
    height: 20px;
}

/*--------------------------------- Page Header */

#pageHeader {
    color: #ffacfc;
    text-shadow: 2px 2px 8px #000;
    text-decoration: underline;
    text-align: center;

}

/*--------------------------------- Game instructions */


.instructions-container {
    padding-top: 8px;
}

.game-instructions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 400px; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: -o-radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    padding-top: 20px;
    margin-bottom: 16px;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.game-instructions.hidden {
    display: none;
}

.game-instructions h2 {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    text-decoration: underline;
    margin-bottom: 25px;
}

.game-instructions ol {
    color: #000;
    text-shadow: 2px 2px 4px #ffacfc;
    font-size: 1.25rem;
    list-style-type: none;
    padding-left: 0;
}

.game-instructions li {
    margin-bottom: 20px;
}

/*--------------------------------- Modal Game instructions */

.modal-footer button {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #ffacfc;
    color: #000;
}

.modal-footer button:hover {
    background-color: #000;
    color: #ffacfc;
}

.modal-backdrop {
    opacity: 0.7 !important;
}

.game-instructions hr {
    border-top: 1px solid rgba(0, 0, 0, .5);
    width: 50%;
}



.modal-footer {
    border-top: none;
}

/*--------------------------------- Loading warning */

.loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}

/*--------------------------------- song nav section */

.song-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.song-nav-container h3 {
    pointer-events: none;
}

.song-nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown {
    margin-bottom: 10px;

}

.dropdown .dropdown-menu {
    text-align: center;
}

.dropdown button {
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: -o-radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);

    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-top: -6px;
    margin-bottom: -3px;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.dropdown button:hover {
    background: -o-radial-gradient(circle, rgba(72, 159, 181, 1) 0%, rgba(255, 166, 43, 1) 86%);
    background: radial-gradient(circle, rgba(72, 159, 181, 1) 0%, rgba(255, 166, 43, 1) 86%);
}

.dropdown-menu.show {
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: -o-radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
}

.dropdown-item {
    color: #000;
    text-shadow: 2px 2px 4px #ffacfc;
    font-size: 2rem;
    font-family: 'Tourney', sans-serif;
    font-weight: 500;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: -o-radial-gradient(circle, rgba(72, 159, 181, 1) 0%, rgba(255, 166, 43, 1) 86%);
    background: radial-gradient(circle, rgba(72, 159, 181, 1) 0%, rgba(255, 166, 43, 1) 86%);
    border-radius: 10px;
}

.dropdown-menu {
    left: -16px !important;
}

/*---------------------------------Pads section with different song themes */

.pads-container {
    height: 50vh;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.pad {
    position: relative;
    -ms-flex-preferred-size: calc(33.333% - 4px);
    flex-basis: calc(33.333% - 4px);
    max-height: 33%;
    max-width: 33%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(237, 231, 227);
    background: -o-radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
}

.pad::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.pad-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

#pads-container .pad-muted {
    background: grey;
}

/*---------------------------------Transport section */

.transport {
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    border: solid black 2px;
    background: #888888;
    padding: 5px;
    border-radius: 31px;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
}

.transport button {
    border: none;
    background: none;
    height: 60px;
    width: 60px;
    position: relative;
}

.transport button i {

    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 60px;
    -webkit-filter: drop-shadow(0px 0px 6px black);
    filter: drop-shadow(0px 0px 6px black);
}

.transport span {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 600;
}

.play-btn {
    color: #30d430;
    margin-left: 20px;
    margin-right: 20px;

}

.play-btn:hover {
    color: rgb(0, 255, 0);
}

.stop-btn {
    color: #0404d6;
    margin-right: 20px;

}

.stop-btn:hover {
    color: rgb(0, 0, 255);
}

button.clear-mutes {
    border: 1px solid black;
    border-radius: 15px;
    background: #dcdcdc;
    margin-right: 20px;
    -webkit-filter: drop-shadow(0px 0px 6px black);
    filter: drop-shadow(0px 0px 6px black);
}

button.clear-mutes.mute-active {
    -webkit-animation: mute-pad-blink .8s infinite;
    animation: mute-pad-blink .8s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.info-button {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

/*---------------------------------Reset pads alt function tooltip */

.tooltip-inner {
    border: 2px solid #000;
    border-radius: 20px;
    background: rgb(237, 231, 227);
    background: -o-radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
    color: #000;
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #fff;
}

/*---------------------------------Footer */

.footer-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.footer {
    /* border: black solid 2px; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e2e2e2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 85px;
    margin-top: auto;
}

.footer-links {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-links a {
    width: 55px;
    height: 30px;
}

#bandLogoFooter {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#bandLogoFooter img {
    -webkit-filter: drop-shadow(0px 0px 14px #000);
    filter: drop-shadow(0px 0px 14px #000);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#bandLogoFooter.playing img {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

#bandLogoFooter img:hover {
    -webkit-filter: drop-shadow(0px 0px 14px #ffacfc);
    filter: drop-shadow(0px 0px 14px #ffacfc);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.footer-links i {
    font-size: 2rem;
    text-shadow: 0px 0px 14px #000;
}

.landing-theme.footer-links i {
    color: #ffacfc;

}

.landing-theme.footer-links i:hover {
    color: #000;
    text-shadow: 0px 0px 14px #ffacfc;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.footer-links img {
    width: 55px;
    height: 55px;
}

/*---------------------------------Contact page */

.contact-page h1 {
    color: #ffacfc;
    text-shadow: 2px 2px 8px #000;
    text-decoration: underline;
    text-align: center;
    font-size: 3.5rem;
}

.contact-page h5 {
    color: #ffacfc;
    text-shadow: 0px 0px 4px #000;
    text-decoration: underline;
}

.form-control,
.form-control:focus {
    margin-bottom: 10px;
    background-color: #EDE7E3;
    -webkit-box-shadow: 0px 0px 7px rgb(255, 166, 43);
    box-shadow: 0px 0px 7px rgb(255, 166, 43);
    color: black;
    border: 1px solid #000
}

.form-control::-webkit-input-placeholder {
    /* color: rgba(237, 229, 166, 0.7); */
    opacity: 1;
}

.form-control::-moz-placeholder {
    /* color: rgba(237, 229, 166, 0.7); */
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    /* color: rgba(237, 229, 166, 0.7); */
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    /* color: rgba(237, 229, 166, 0.7); */
    opacity: 1;
}

.form-control::placeholder {
    /* color: rgba(237, 229, 166, 0.7); */
    opacity: 1;
}

.contact-form button {
    background-color: #ffacfc;
    color: #000;
    -webkit-box-shadow: 0px 0px 8px #000;
    box-shadow: 0px 0px 8px #000;
}

.contact-form button:hover {
    background-color: rgb(255, 166, 43);

}

/*---------------------------------Aloosh theme */

body.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
    background: radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
}

.aloosh-theme #navbarBrand,
.aloosh-theme #navbarNav .nav-link {
    color: #000;
    text-shadow: 2px 2px 4px #e89886;
}

.aloosh-theme #navbarBrand:hover,
.aloosh-theme #navbarNav .nav-link:hover {
    color: #e89886;
    text-shadow: 2px 2px 4px #000;
}

.aloosh-theme #pageHeader {
    color: #000;
    text-shadow: 5px 3px 8px #e89886;
    margin-top: -10px;
}

.aloosh-theme .loading h1 {
    -webkit-animation: loading-aloosh .6s infinite;
    animation: loading-aloosh .6s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.aloosh-theme .dark-mode,
.aloosh-theme .light-mode {
    color: #000;
    text-shadow: 5px 3px 8px #e89886;
}

.aloosh-theme .dark-mode.active,
.aloosh-theme .light-mode.active {
    -webkit-text-decoration: underline #e89886;
    text-decoration: underline #e89886;
}

.aloosh-theme .dropdown-menu.show {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
}

.aloosh-theme .dropdown button {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    -webkit-box-shadow: 0 0 10px #e89886;
    box-shadow: 0 0 10px #e89886;
}

.aloosh-theme .dropdown button:hover {
    background: -o-radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
    background: radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
}

.aloosh-theme .dropdown-item {
    color: #000;
    text-shadow: 2px 2px 4px #e89886;
}

.aloosh-theme .dropdown-item:hover {
    border-radius: 10px;
    background: -o-radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
    background: radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
}

.aloosh-theme .pad {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    -webkit-box-shadow: 0px 0px 10px #e89886;
    box-shadow: 0px 0px 10px #e89886;
}

.aloosh-theme .info-button {
    color: rgba(208, 86, 58, 1);
}

.aloosh-theme .info-button:hover {
    color: rgba(232, 152, 134, 1);
}

.aloosh-theme #bandLogoFooter img:hover {
    -webkit-filter: drop-shadow(0px 0px 14px rgba(232, 152, 134, 1));
    filter: drop-shadow(0px 0px 14px rgba(232, 152, 134, 1));
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.aloosh-theme .footer-links i {
    color: rgba(232, 152, 134, 1);
}

.aloosh-theme .footer-links i:hover {
    color: #000;
    text-shadow: 0px 0px 14px rgba(232, 152, 134, 1);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

/*---------------------------------Escape theme */

body.escape-theme {
    background: -o-radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
    background: radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
}

.escape-theme #navbarBrand,
.escape-theme #navbarNav .nav-link {
    color: #000;
    text-shadow: 2px 2px 4px #FEB022;
}

.escape-theme #navbarBrand:hover,
.escape-theme #navbarNav .nav-link:hover {
    color: #FEB022;
    text-shadow: 2px 2px 4px #000;
}

.escape-theme #pageHeader {
    color: #000;
    text-shadow: 5px 3px 8px #FEB022;
    margin-top: -10px;
}

.escape-theme .loading h1 {
    -webkit-animation: loading-escape .6s infinite;
    animation: loading-escape .6s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.escape-theme .dark-mode,
.escape-theme .light-mode {
    color: #000;
    text-shadow: 5px 3px 8px #FEB022;
}

.escape-theme .dark-mode.active,
.escape-theme .light-mode.active {
    -webkit-text-decoration: underline #FEB022;
    text-decoration: underline #FEB022;
}

.escape-theme .dropdown button {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    -webkit-box-shadow: 0 0 10px #FEB022;
    box-shadow: 0 0 10px #FEB022;
}

.escape-theme .dropdown button:hover {
    background: -o-radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
    background: radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
}

.escape-theme .dropdown-menu.show {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
}

.escape-theme .dropdown-item {
    color: #000;
    text-shadow: 2px 2px 4px #FEB022;
}

.escape-theme .dropdown-item:hover {
    border-radius: 10px;
    background: -o-radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
    background: radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
}

.escape-theme .pad {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    -webkit-box-shadow: 0px 0px 10px #FEB022;
    box-shadow: 0px 0px 10px #FEB022;
}

.escape-theme .info-button {
    color: rgba(254, 176, 34, 1);
}

.escape-theme .info-button:hover {
    color: rgba(226, 220, 5, 1);
}

.escape-theme #bandLogoFooter img:hover {
    -webkit-filter: drop-shadow(0px 0px 14px rgba(254, 176, 34, 1));
    filter: drop-shadow(0px 0px 14px rgba(254, 176, 34, 1));
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.escape-theme .footer-links i {
    color: rgba(254, 176, 34, 1);
}

.escape-theme .footer-links i:hover {
    color: #000;
    text-shadow: 0px 0px 14px rgba(254, 176, 34, 1);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

/*---------------------------------Aloosh Dark theme */

body.aloosh-theme.dark {
    background: rgb(51, 15, 10);
    background: -o-radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 48%, rgba(244, 253, 175, 1) 88%);
    background: radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 48%, rgba(244, 253, 175, 1) 88%);
}

.aloosh-theme.dark #navbarBrand,
.aloosh-theme.dark #navbarNav .nav-link {
    color: #330f0a;
    text-shadow: 2px 2px 4px #efdd8d;
}

.aloosh-theme.dark #navbarBrand:hover,
.aloosh-theme.dark #navbarNav .nav-link:hover {
    color: #efdd8d;
    text-shadow: 2px 2px 4px #330f0a;
}

.aloosh-theme.dark #pageHeader {
    color: #efdd8d;
    text-shadow: 5px 3px 8px #330F0A;
}

.aloosh-theme.dark .dark-mode,
.aloosh-theme.dark .light-mode {
    color: #efdd8d;
    text-shadow: 5px 3px 8px #330F0A;
}

.aloosh-theme.dark .dark-mode.active,
.aloosh-theme.dark .light-mode.active {
    -webkit-text-decoration: underline #efdd8d;
    text-decoration: underline #efdd8d;
}

.aloosh-theme.dark .dropdown button {
    background: rgb(101, 116, 58);
    background: -o-radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

.aloosh-theme.dark .dropdown button:hover {
    background: rgb(101, 116, 58);
    background: -o-radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 88%);
    background: radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 88%);
    border-color: #fff;
    color: #fff;
}

.aloosh-theme.dark .dropdown-menu.show {
    background: rgb(101, 116, 58);
    background: -o-radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

.aloosh-theme.dark .dropdown-item {
    color: #fff;
    text-shadow: 2px 2px 4px #330F0A;
}

.aloosh-theme.dark .dropdown-item:hover {
    background: -o-radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 88%);
    background: radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 88%);
    border-radius: 10px;
}

.aloosh-theme.dark .pad {
    background: rgb(101, 116, 58);
    background: -o-radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

.aloosh-theme.dark .info-button {
    color: rgba(239, 221, 141, 1);

}

.aloosh-theme.dark .info-button:hover {
    color: rgba(101, 116, 58, 1);
}

.aloosh-theme.dark #bandLogoFooter img:hover {
    -webkit-filter: drop-shadow(0px 0px 14px rgba(239, 221, 141, 1));
    filter: drop-shadow(0px 0px 14px rgba(239, 221, 141, 1));
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.aloosh-theme.dark .footer-links i {
    color: rgba(239, 221, 141, 1);

}

.aloosh-theme.dark .footer-links i:hover {
    color: #000;
    text-shadow: 0px 0px 14px rgba(239, 221, 141, 1);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

/*---------------------------------Escape Dark theme */

body.escape-theme.dark {
    background: #0A0908;
    background: -o-radial-gradient(circle, #0A0908 18%, #22333B 48%, #5E503F 88%);
    background: radial-gradient(circle, #0A0908 18%, #22333B 48%, #5E503F 88%);
}

.escape-theme.dark #navbarBrand,
.escape-theme.dark #navbarNav .nav-link {
    color: #EAE0D5;
    text-shadow: 2px 2px 4px #C6AC8F;
}

.escape-theme.dark #navbarBrand:hover,
.escape-theme.dark #navbarNav .nav-link:hover {
    color: #22333B;
    text-shadow: 0px 0px 4px #EAE0D5;
}

.escape-theme.dark #pageHeader {
    color: #fff;
    text-shadow: 5px 3px 8px #C6AC8F;
}

.escape-theme.dark .dark-mode,
.escape-theme.dark .light-mode {
    color: #fff;
    text-shadow: 5px 3px 8px #C6AC8F;
}

.escape-theme.dark .dark-mode.active,
.escape-theme.dark .light-mode.active {
    -webkit-text-decoration: underline #fff;
    text-decoration: underline #fff;
}

.escape-theme.dark .dropdown button {
    background: #C6AC8F;
    background: -o-radial-gradient(circle, #EAE0D5 18%, #C6AC8F 88%);
    background: radial-gradient(circle, #EAE0D5 18%, #C6AC8F 88%);
    border-color: #fff;
    color: #000;
}

.escape-theme.dark .dropdown button:hover {
    background: #0A0908;
    background: -o-radial-gradient(circle, #0A0908 18%, #22333B 48%, #5E503F 88%);
    background: radial-gradient(circle, #0A0908 18%, #22333B 48%, #5E503F 88%);
    border-color: #fff;
    color: #fff;
}

.escape-theme.dark .dropdown-menu.show {
    background: #C6AC8F;
    background: -o-radial-gradient(circle, #EAE0D5 18%, #C6AC8F 88%);
    background: radial-gradient(circle, #EAE0D5 18%, #C6AC8F 88%);
    border-color: #fff;
    color: #000;
}

.escape-theme.dark .dropdown-item {
    color: #000;
    text-shadow: 2px 2px 4px #C6AC8F;
}

.escape-theme.dark .dropdown-item:hover {
    background: -o-radial-gradient(circle, #0A0908 18%, #22333B 48%, #5E503F 88%);
    background: radial-gradient(circle, #0A0908 18%, #22333B 48%, #5E503F 88%);
    border-radius: 10px;
    color: #fff;
}

.escape-theme.dark .pad {
    background: #C6AC8F;
    background: -o-radial-gradient(circle, #EAE0D5 18%, #C6AC8F 88%);
    background: radial-gradient(circle, #EAE0D5 18%, #C6AC8F 88%);
    border-color: #fff;
    color: #000;
}

.escape-theme.dark .info-button {
    color: #C6AC8F;
}

.escape-theme.dark .info-button:hover {
    color: #EAE0D5;
}

.escape-theme.dark #bandLogoFooter img:hover {
    -webkit-filter: drop-shadow(0px 0px 14px #EAE0D5);
    filter: drop-shadow(0px 0px 14px #EAE0D5);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.escape-theme.dark .footer-links i {
    color: #EAE0D5;

}

.escape-theme.dark .footer-links i:hover {
    color: #5E503F;
    text-shadow: 0px 0px 14px #EAE0D5;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

/*---------------------------------Utility classes */

.hidden {
    display: none;
}

/*---------------------------------Animations */

@-webkit-keyframes mute-pad-blink {

    0% {
        background: #ff4141;

    }

    100% {
        background: #dcdcdc;

    }
}

@keyframes mute-pad-blink {

    0% {
        background: #ff4141;

    }

    100% {
        background: #dcdcdc;

    }
}

@-webkit-keyframes loading-aloosh {
    0% {
        color: #e89886;

    }

    100% {
        color: #000;

    }
}

@keyframes loading-aloosh {
    0% {
        color: #e89886;

    }

    100% {
        color: #000;

    }
}

@-webkit-keyframes loading-escape {
    0% {
        color: #FEB022;

    }

    100% {
        color: #000;

    }
}

@keyframes loading-escape {
    0% {
        color: #FEB022;

    }

    100% {
        color: #000;

    }
}

/* Animation inspired by Traversy Media youTube video listed in readme */

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*---------------------------------Media queries */

@media only screen and (min-width: 768px) {
    .navbar .navbar-brand {
        font-size: 1.25rem;
    }

    #spacer {
        height: 85px;
    }

    #pageHeader.aloosh-theme {
        margin-top: 0;
    }

    #pageHeader.escape-theme {
        margin-top: 0;
    }

    .instructions-container {
        padding-top: 20px;
    }

    #pageHeader {
        font-size: 3.5rem;

    }

    .pads-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact-page h1 {
        margin-top: 85px;
    }
}