@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

/*---------------------------------Body and song theme changes */

body {
    font-family: "Otomanopee-One";
    font-weight: 400;
    background: rgb(130, 192, 204);
    background: radial-gradient(circle, rgba(130, 192, 204, 1) 18%, rgba(72, 159, 181, 1) 48%, rgba(255, 166, 43, 1) 88%);
    min-height: 100vh;

}

body.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(240, 230, 239, 1) 0%, rgba(184, 190, 221, 1) 14%, rgba(195, 162, 183, 1) 78%);
    background: radial-gradient(circle, rgba(240, 230, 239, 1) 18%, rgba(184, 190, 221, 1) 48%, rgba(195, 162, 183, 1) 88%);
}

body.escape-theme {
    background: -o-radial-gradient(circle, rgba(22, 186, 197, 1) 21%, rgba(95, 191, 249, 1) 41%, rgba(154, 193, 39, 1) 96%);
    background: radial-gradient(circle, rgba(22, 186, 197, 1) 18%, rgba(95, 191, 249, 1) 48%, rgba(154, 193, 39, 1) 88%);
}

body.paradisco-theme {
    background: rgb(51, 15, 10);
    background: radial-gradient(circle, rgba(51, 15, 10, 1) 18%, rgba(57, 79, 73, 1) 48%, rgba(244, 253, 175, 1) 88%);
}

body.contact-theme {
    background: rgb(237, 229, 166);
    background: radial-gradient(circle, rgba(237, 229, 166, 1) 2%, rgba(82, 183, 136, 1) 23%, rgba(89, 41, 65, 1) 55%, rgba(178, 211, 168, 1) 78%, rgba(73, 132, 103, 1) 100%);
}

/*---------------------------------Navbar */

.navbar {}

.navbar .navbar-brand {
    text-align: center;
    padding-left: 30px;
    color: #ffe0fe;
    text-shadow: 2px 2px 4px #000;
}

.navbar .navbar-nav {
    padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    margin-right: 10px;
}

/*---------------------------------Page title and song nav section */

.song-nav-container {
    padding-top: 20px;
}

.song-nav-container h1 {
    color: #ffacfc;
    text-shadow: 2px 2px 4px #000;
}

.dropdown {
    margin-top: 16px;
    margin-bottom: 10px;
}

.dropdown .dropdown-menu {
    text-align: center;
}

#songSelectorButton .dropdown-menu .dropdown-menu-left .show {
    left: -21px !important;
}

/*---------------------------------Pads section with different song themes */

.pads-container {
    height: 50%;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.pad {
    position: relative;
    flex-basis: calc(33.333% - 10px);
    margin: 5px;
    border: 2px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background: rgb(237, 231, 227);
    background: radial-gradient(circle, rgba(237, 231, 227, 1) 0%, rgba(25, 153, 122, 1) 86%);
}

.pad::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.pad-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad.aloosh-theme {
    background: -o-radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
    background: radial-gradient(circle, rgba(232, 152, 134, 1) 30%, rgba(208, 86, 58, 1) 91%);
}

.pad.escape-theme {
    background: -o-radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
    background: radial-gradient(circle, rgba(226, 220, 5, 1) 0%, rgba(254, 176, 34, 1) 56%);
}

.pad.paradisco-theme {
    background: rgb(101, 116, 58);
    background: radial-gradient(circle, rgba(101, 116, 58, 1) 18%, rgba(239, 221, 141, 1) 88%);
    border-color: #fff;
    color: #fff;
}

#pads-container .pad-muted {
    background: grey;
}

/*---------------------------------Transport section */

.transport {
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.transport {}

.transport button {
    border: none;
    background: none;
}

#playBtn {
    font-size: 4rem;
    color: #30d430;
}

#stopBtn {
    font-size: 4rem;
    color: #4d4d80;
}

#clearMutes {
    font-size: 4rem;
    border: 1px solid black;

}

#clearMutes span {
    font-size: 16px;
}


.footer {
    border: black solid 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e2e2e2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 3px rgba(12, 28, 49, 1);
    height: 85px;
}

.dropdown-menu {
    left: -20px !important;
}